{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/d054de7c-77cc-4529-b4eb-640be931c690%2Fabout.jpg?v=1563480665994">
  </div>
</section>